Soe.Web/reports/BygglosenReportSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SOE_BygglosenReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BygglosenReport">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ReportHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ReportTitle"/>
                    <xs:element type="xs:string" name="ReportDescription"/>
                    <xs:element type="xs:string" name="ReportNr"/>
                    <xs:element type="xs:string" name="Company"/>
                    <xs:element type="xs:string" name="Orgnr"/>
                    <xs:element type="xs:string" name="LoginName"/>
                    <xs:element type="xs:string" name="TimePeriod"/>
                    <xs:element type="xs:string" name="SortByLevel1"/>
                    <xs:element type="xs:string" name="SortByLevel2"/>
                    <xs:element type="xs:string" name="SortByLevel3"/>
                    <xs:element type="xs:string" name="SortByLevel4"/>
                    <xs:element type="xs:string" name="IsSortAscending"/>
                    <xs:element type="xs:string" name="GroupByLevel1"/>
                    <xs:element type="xs:string" name="GroupByLevel2"/>
                    <xs:element type="xs:string" name="GroupByLevel3"/>
                    <xs:element type="xs:string" name="GroupByLevel4"/>
                    <xs:element type="xs:string" name="Special"/>
                    <xs:element type="xs:string" name="DateInterval"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Lista_lonegranskning">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Korrigeringskod"/>
                    <xs:element type="xs:string" name="KorrigeringAvFil" minOccurs="0"/>
                    <xs:element type="xs:string" name="Lonesystem"/>
                    <xs:element name="Lonegranskning" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Organisationsnummer"/>
                          <xs:element type="xs:string" name="Foretagsnamn"/>
                          <xs:element type="xs:string" name="LoneperiodStartdatum"/>
                          <xs:element type="xs:string" name="LoneperiodSlutdatum"/>
                          <xs:element type="xs:int" name="Avtalsomrade"/>
                          <xs:element type="xs:int" name="Lonetyp"/>
                          <xs:element type="xs:int" name="LanOchKommun"/>
                          <xs:element type="xs:string" name="Postort"/>
                          <xs:element name="Personer">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Person" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Arbetsplatsnr"/>
                                      <xs:element type="xs:int" name="Anstallningsnummer"/>
                                      <xs:element type="xs:string" name="Personnummer"/>
                                      <xs:element type="xs:string" name="Namn"/>
                                      <xs:element type="xs:int" name="Fordelningstal"/>
                                      <xs:element type="xs:decimal" name="ArbetadeTimmar"/>
                                      <xs:element type="xs:decimal" name="Lonesumma"/>
                                      <xs:element type="xs:decimal" name="OBTillagg"/>
                                      <xs:element type="xs:decimal" name="AvtalsenligManadslon"/>
                                      <xs:element type="xs:decimal" name="Overtidstimmar"/>
                                      <xs:element type="xs:decimal" name="Overtidstillagg"/>
                                      <xs:element type="xs:int" name="Yrkeskod"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>