Soe.Web/reports/EmployeeScheduleDataSmallReportSchema.xsd

<xs:schema id="SOE_EmployeeScheduleDataSmallReport" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="SOE_EmployeeScheduleDataSmallReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EmployeeScheduleDataSmallReport">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ReportHeaderLabels">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="LoginNameLabel"/>
                    <xs:element type="xs:string" name="PageLabel"/>
                    <xs:element type="xs:string" name="DateLabel"/>
                    <xs:element type="xs:string" name="TimeLabel"/>
                    <xs:element type="xs:string" name="TimePeriodLabel"/>
                    <xs:element type="xs:string" name="DateIntervalLabel"/>
                    <xs:element type="xs:string" name="EntCurrencyNameLabel"/>
                    <xs:element type="xs:string" name="EntCurrencyCodeLabel"/>
                    <xs:element type="xs:string" name="PayrollProductIntervalLabel"/>
                    <xs:element type="xs:string" name="ScenarioLabel"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ReportHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ReportTitle"/>
                    <xs:element type="xs:string" name="ReportDescription"/>
                    <xs:element type="xs:string" name="ReportNr"/>
                    <xs:element type="xs:string" name="Company"/>
                    <xs:element type="xs:string" name="Orgnr"/>
                    <xs:element type="xs:string" name="LoginName"/>
                    <xs:element type="xs:string" name="TimePeriod"/>
                    <xs:element type="xs:string" name="SortByLevel1"/>
                    <xs:element type="xs:string" name="SortByLevel2"/>
                    <xs:element type="xs:string" name="SortByLevel3"/>
                    <xs:element type="xs:string" name="SortByLevel4"/>
                    <xs:element type="xs:string" name="IsSortAscending"/>
                    <xs:element type="xs:string" name="GroupByLevel1"/>
                    <xs:element type="xs:string" name="GroupByLevel2"/>
                    <xs:element type="xs:string" name="GroupByLevel3"/>
                    <xs:element type="xs:string" name="GroupByLevel4"/>
                    <xs:element type="xs:string" name="Special"/>
                    <xs:element type="xs:string" name="DateInterval"/>
                    <xs:element type="xs:int" name="IncludePreliminary"/>
                    <xs:element type="xs:string" name="EntCurrencyName"/>
                    <xs:element type="xs:string" name="EntCurrencyCode"/>
                    <xs:element type="xs:byte" name="ShowOnlyTotals"/>
                    <xs:element type="xs:string" name="ScenarioName"/>
                    <xs:element type="xs:string" name="ScenarioDateInterval"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PageHeaderLabels">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="EmployeeNrLabel"/>
                    <xs:element type="xs:string" name="EmployeeNameLabel"/>
                    <xs:element type="xs:string" name="EmployeeGroupNameLabel"/>
                    <xs:element type="xs:string" name="EmployeeCategoryCodeLabel"/>
                    <xs:element type="xs:string" name="EmployeeCategoryCodeShortLabel"/>
                    <xs:element type="xs:string" name="EmployeeCategoryNameLabel"/>
                    <xs:element type="xs:string" name="EmployeeCategoryNameShortLabel"/>
                    <xs:element type="xs:string" name="PayrollTransactionQuantityLabel"/>
                    <xs:element type="xs:string" name="PayrollTransactionTimeUnitLabel"/>
                    <xs:element type="xs:string" name="PayrollTransactionCalendarDayFactorLabel"/>
                    <xs:element type="xs:string" name="PayrollTransactionAmountLabel"/>
                    <xs:element type="xs:string" name="PayrollTransactionDateLabel"/>
                    <xs:element type="xs:string" name="PayrollTransactionExportedLabel"/>
                    <xs:element type="xs:string" name="PayrollTransactionCommentLabel"/>
                    <xs:element type="xs:string" name="AttestStateNameLabel"/>
                    <xs:element type="xs:string" name="PayrollProductNumberLabel"/>
                    <xs:element type="xs:string" name="PayrollProductNumberShortLabel"/>
                    <xs:element type="xs:string" name="PayrollProductNameLabel"/>
                    <xs:element type="xs:string" name="PayrollProductNameShortLabel"/>
                    <xs:element type="xs:string" name="PayrollProductDescriptionLabel"/>
                    <xs:element type="xs:string" name="PayrollProductDescriptionShortLabel"/>
                    <xs:element type="xs:string" name="IsPreliminaryLabel"/>
                    <xs:element type="xs:string" name="IsPreliminaryShortLabel"/>
                    <xs:element type="xs:string" name="VatLabel"/>
                    <xs:element type="xs:string" name="TimCodeCodeLabel"/>
                    <xs:element type="xs:string" name="TimCodeNameLabel"/>
                    <xs:element type="xs:string" name="FormulaLabel"/>
                    <xs:element type="xs:string" name="AttestStateLabel"/>
                    <xs:element type="xs:string" name="NoteLabel"/>
                    <xs:element type="xs:string" name="CreatedByLabel"/>
                    <xs:element type="xs:string" name="ModifiedByLabel"/>
                    <xs:element type="xs:string" name="CreatedLabel"/>
                    <xs:element type="xs:string" name="ModifiedLabel"/>
					<xs:element type="xs:string" name="GrossSalaryLabel"/>
					<xs:element type="xs:string" name="BenefitLabel"/>
					<xs:element type="xs:string" name="TaxLabel"/>
					<xs:element type="xs:string" name="CompensationLabel"/>
					<xs:element type="xs:string" name="DeductionLabel"/>
					<xs:element type="xs:string" name="NetSalaryLabel"/>
					<xs:element type="xs:string" name="AbsenceLabel" />	
					<xs:element type="xs:string" name="SchemaLabel" />	
					<xs:element type="xs:string" name="SchemaTimeLabel" />	
					<xs:element type="xs:string" name="PeriodLabel" />	
					<xs:element type="xs:string" name="TotalperiodLabel" />	
					<xs:element type="xs:string" name="TotalAbsenceLabel" />	
					<xs:element type="xs:string" name="SickAbsence" />	
					<xs:element type="xs:string" name="ForLabel" />	
					<xs:element type="xs:string" name="NoQualifyingDaysLabel" />	
					<xs:element type="xs:string" name="ShortLabel" />			
					<xs:element type="xs:string" name="LongLabel" />	
					<xs:element type="xs:string" name="VacationLabel" />	
					<xs:element type="xs:string" name="ParentelLeaveLabel" />	
					<xs:element type="xs:string" name="TempParentelLeaveLabel" />	
					<xs:element type="xs:string" name="LeaveLabel" />	
					<xs:element type="xs:string" name="OtherAbsenceLabel" />		
					<xs:element type="xs:string" name="ScheduleWeekDayMondayLabel" />	
					<xs:element type="xs:string" name="ScheduleWeekDayTuesdayLabel" />	
					<xs:element type="xs:string" name="ScheduleWeekDayWednesdayLabel" />	
					<xs:element type="xs:string" name="ScheduleWeekDayThursdayLabel" />	
					<xs:element type="xs:string" name="ScheduleWeekDayFridayLabel" />	
					<xs:element type="xs:string" name="ScheduleWeekDaySaturdayLabel" />	
					<xs:element type="xs:string" name="ScheduleWeekDaySundayLabel" />										
                    <xs:element type="xs:string" name="DimensionStandardNameLabel"/>
                    <xs:element type="xs:string" name="DimensionStandardShortNameLabel"/>
                    <xs:element type="xs:string" name="DimensionInternalName1Label"/>
                    <xs:element type="xs:string" name="DimensionInternalShortName1Label"/>
                    <xs:element type="xs:string" name="DimensionInternal1SieType"/>
                    <xs:element type="xs:string" name="DimensionInternalName2Label"/>
                    <xs:element type="xs:string" name="DimensionInternalShortName2Label"/>
                    <xs:element type="xs:string" name="DimensionInternal2SieType"/>
                    <xs:element type="xs:string" name="DimensionInternalName3Label"/>
                    <xs:element type="xs:string" name="DimensionInternalShortName3Label"/>
                    <xs:element type="xs:string" name="DimensionInternal3SieType"/>
                    <xs:element type="xs:string" name="DimensionInternalName4Label"/>
                    <xs:element type="xs:string" name="DimensionInternalShortName4Label"/>
                    <xs:element type="xs:string" name="DimensionInternal4SieType"/>
                    <xs:element type="xs:string" name="DimensionInternalName5Label"/>
                    <xs:element type="xs:string" name="DimensionInternalShortName5Label"/>
                    <xs:element type="xs:string" name="DimensionInternal5SieType"/>
                    <xs:element type="xs:string" name="DimensionInternalName6Label"/>
                    <xs:element type="xs:string" name="DimensionInternalShortName6Label"/>
                    <xs:element type="xs:string" name="DimensionInternal6SieType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sales" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="AccountNr"/>
                    <xs:element type="xs:string" name="AccountName"/>
                    <xs:element type="xs:decimal" name="Amount"/>
                    <xs:element type="xs:int" name="FrequencyType" />
                    <xs:element type="xs:dateTime" name="Date" />
                    <xs:element name="Wk" type="xs:int" minOccurs="0" />
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="ShiftTypes" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ExternalCode"/>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:string" name="Color"/>
                    <xs:element type="xs:int" name="ScheduleTypeId"/>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Account" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Nr"/>
                    <xs:element type="xs:string" name="Name"/>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="EmployeeGroup" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:int" name="WTWeek"/>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="DeviationCause" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Code"/>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:int" name="HasAttachZeroDaysNbrOfDaySetting"/>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="TimeCode" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Code"/>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:int" name="Type"/>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="ScheduleType" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Code"/>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:string" name="ReportScheduleType"/>
                    <xs:element type="xs:string" name="IsAll"/>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="EmployeeNr"/>
                    <xs:element type="xs:string" name="EmployeeName"/>
                    <xs:element type="xs:string" name="EmployeeGroupName"/>
                    <xs:element name="Day" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:dateTime" name="Date"/>
                          <xs:element type="xs:int" name="Wk"/>
                          <xs:element type="xs:decimal" name="ETax"/>
                          <xs:element type="xs:decimal" name="SuplCharge"/>
                          <xs:element type="xs:int" name="Length"/>
                          <xs:element type="xs:int" name="WTWeek"/>
                          <xs:element type="xs:int" name="EGId"/>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SchTran" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="DayId"/>
                          <xs:element type="xs:decimal" name="Q"/>
                          <xs:element type="xs:decimal" name="GQ"/>
                          <xs:element type="xs:decimal" name="Price"/>
                          <xs:element type="xs:decimal" name="Amount"/>
                          <xs:element type="xs:decimal" name="GAmount"/>
                          <xs:element type="xs:decimal" name="VAmount"/>
                          <xs:element type="xs:dateTime" name="Date"/>
                          <xs:element type="xs:dateTime" name="Start"/>
                          <xs:element type="xs:dateTime" name="Stop"/>
                          <xs:element type="xs:int" name="ShiftType"/>
                          <xs:element type="xs:int" name="IsBreak"/>
                          <xs:element type="xs:int" name="SubShift"/>
                          <xs:element type="xs:int" name="XShift"/>
                          <xs:element type="xs:int" name="TDevId"/>
                          <xs:element type="xs:int" name="TCId"/>
                          <xs:element type="xs:int" name="STId"/>
						  <xs:element type="xs:int" name="L"/>
                          <xs:element type="xs:int" name="AccountId"/>
                          <xs:element type="xs:int" name="IId1"/>
                          <xs:element type="xs:int" name="IId2"/>
                          <xs:element type="xs:int" name="IId3"/>
                          <xs:element type="xs:int" name="IId4"/>
                          <xs:element type="xs:int" name="IId5"/>
                          <xs:element type="xs:int" name="IId6"/>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>