Soe.Web/reports/KronofogdenReportSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SOE_KronofogdenReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="KronofogdenReport">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReportHeader">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="ReportTitle"/>
										<xs:element type="xs:string" name="ReportDescription"/>
										<xs:element type="xs:int" name="ReportNr"/>
										<xs:element type="xs:string" name="Company"/>
										<xs:element type="xs:string" name="Orgnr"/>
										<xs:element type="xs:string" name="LoginName"/>
										<xs:element type="xs:string" name="TimePeriod"/>
										<xs:element type="xs:string" name="SortByLevel1"/>
										<xs:element type="xs:string" name="SortByLevel2"/>
										<xs:element type="xs:string" name="SortByLevel3"/>
										<xs:element type="xs:string" name="SortByLevel4"/>
										<xs:element type="xs:string" name="IsSortAscending"/>
										<xs:element type="xs:string" name="GroupByLevel1"/>
										<xs:element type="xs:string" name="GroupByLevel2"/>
										<xs:element type="xs:string" name="GroupByLevel3"/>
										<xs:element type="xs:string" name="GroupByLevel4"/>
										<xs:element type="xs:string" name="Special"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="KronofogdenEmployee" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:int" name="EmployeeId"/>
										<xs:element type="xs:string" name="EmployeeNr"/>
										<xs:element type="xs:string" name="Namn"/>
										<xs:element type="xs:string" name="Beslutsnummer"/>
										<xs:element type="xs:string" name="Avvikelse"/>
										<xs:element type="xs:string" name="Kommentar"/>
										<xs:element type="xs:int" name="Belopp"/>
										<xs:element type="xs:string" name="Personnummer"/>
										<xs:element type="xs:string" name="UtbetalningsDatum"/>
									</xs:sequence>
									<xs:attribute type="xs:int" name="Id" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>