Soe.Web/reports/SCB_KSP_ReportSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SOE_SCB_KSP_Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SCB_KSP_Report">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ReportHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ReportTitle" minOccurs="0" />
                    <xs:element type="xs:string" name="ReportDescription" minOccurs="0" />
                    <xs:element type="xs:string" name="ReportNr" minOccurs="0" />
                    <xs:element type="xs:string" name="Company" minOccurs="0" />
                    <xs:element type="xs:string" name="Orgnr" minOccurs="0" />
                    <xs:element type="xs:string" name="LoginName" minOccurs="0" />
                    <xs:element type="xs:string" name="TimePeriod" minOccurs="0" />
                    <xs:element type="xs:string" name="SortByLevel1" minOccurs="0" />
                    <xs:element type="xs:string" name="SortByLevel2" minOccurs="0" />
                    <xs:element type="xs:string" name="SortByLevel3" minOccurs="0" />
                    <xs:element type="xs:string" name="SortByLevel4" minOccurs="0" />
                    <xs:element type="xs:string" name="IsSortAscending" minOccurs="0" />
                    <xs:element type="xs:string" name="GroupByLevel1" minOccurs="0" />
                    <xs:element type="xs:string" name="GroupByLevel2" minOccurs="0" />
                    <xs:element type="xs:string" name="GroupByLevel3" minOccurs="0" />
                    <xs:element type="xs:string" name="GroupByLevel4" minOccurs="0" />
                    <xs:element type="xs:string" name="Special" minOccurs="0" />
                    <xs:element type="xs:string" name="DateInterval" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Head">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="Date" minOccurs="0" />
                    <xs:element type="xs:int" name="TotaltAntalAnstallda" minOccurs="0" />
                    <xs:element type="xs:int" name="AntalAnstalldaMan" minOccurs="0" />
                    <xs:element type="xs:int" name="AntalAnstalldaKvinnor" minOccurs="0" />
                    <xs:element type="xs:int" name="TotaltAntalTillsvidareAnstallda" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalTillsvidareAnstalldaMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalTillsvidareAnstalldaKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="TotaltAntalVisstidsAnstallda" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalVisstidsAnstalldaMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalVisstidsAnstalldaKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="TotaltAntalHeldagsfranvarande" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalHeldagsfranvarandeMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalHeldagsfranvarandeKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="TotaltAntalHeldagsfranvarandeSjukdomArbetsskada" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalHeldagsfranvarandeSjukdomArbetsskadaMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalHeldagsfranvarandeSjukdomArbetsskadaKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="TotaltAntalHeldagsfranvarandeSemester" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalHeldagsfranvarandeSemesterMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalHeldagsfranvarandeSemesterKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="TotaltAntalHeldagsfranvarandeOvrigFranvaro" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalHeldagsfranvarandeOvrigFranvaroMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="AntalHeldagsfranvarandeOvrigFranvaroKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="NyAnstallda" minOccurs="0"/>
                    <xs:element type="xs:int" name="NyAnstalldaMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="NyAnstalldaKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="NyAnstalldaVissTidTotalt" minOccurs="0"/>
                    <xs:element type="xs:int" name="NyAnstalldaVissTidMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="NyAnstalldaVissTidKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="NyAnstalldaTillsvidareTotalt" minOccurs="0"/>
                    <xs:element type="xs:int" name="NyAnstalldaTillsvidareMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="NyAnstalldaTillsvidareKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="Avgangna" minOccurs="0"/>
                    <xs:element type="xs:int" name="AvgangnaMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="AvgangnaKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="AvgangnaVissTidTotalt" minOccurs="0"/>
                    <xs:element type="xs:int" name="AvgangnaVissTidMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="AvgangnaVissTidKvinnor" minOccurs="0"/>
                    <xs:element type="xs:int" name="AvgangnaTillsvidareTotalt" minOccurs="0"/>
                    <xs:element type="xs:int" name="AvgangnaTillsvidareMan" minOccurs="0"/>
                    <xs:element type="xs:int" name="AvgangnaTillsvidareKvinnor" minOccurs="0"/>
                    <xs:element name="Transactions" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Type" minOccurs="0" />
                          <xs:element type="xs:string" name="EmployeeNr" minOccurs="0" />
                          <xs:element type="xs:string" name="PayrollProductNumber" minOccurs="0" />
                          <xs:element type="xs:decimal" name="Quantity" minOccurs="0" />
                          <xs:element type="xs:decimal" name="Amount" minOccurs="0" />
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="Id"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="Id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>