Soe.Business/Service References/ArbetsgivarintygNu/ArbetsgivarintygService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://INT036_Lonesystem.Schemas.ArbetsgivarintygTyp_Bas" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" elementFormDefault="qualified" targetNamespace="http://INT036_Lonesystem.Schemas.ArbetsgivarintygTyp_Bas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatumOmfattning">
    <xs:sequence>
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Slut" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatumOmfattning" nillable="true" type="tns:DatumOmfattning" />
</xs:schema>