Soe.Business/Service References/SolidusAgentFeed/AgentFeedWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgentFeedWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgentFeedWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllEmployees" type="xs:boolean" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Logons" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestType" nillable="true" type="tns:RequestType" />
  <xs:complexType name="ResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agents" nillable="true" type="tns:ArrayOfAgentType" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequestID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseType" nillable="true" type="tns:ResponseType" />
  <xs:complexType name="ArrayOfAgentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentType" nillable="true" type="tns:AgentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentType" nillable="true" type="tns:ArrayOfAgentType" />
  <xs:complexType name="AgentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfServiceGroupDataType" />
      <xs:element minOccurs="0" name="Logon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentType" nillable="true" type="tns:AgentType" />
  <xs:complexType name="ArrayOfServiceGroupDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceGroupDataType" nillable="true" type="tns:ServiceGroupDataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceGroupDataType" nillable="true" type="tns:ArrayOfServiceGroupDataType" />
  <xs:complexType name="ServiceGroupDataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACWTime" type="xs:int" />
      <xs:element minOccurs="0" name="AnsweredCalls" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoldTime" type="xs:int" />
      <xs:element minOccurs="0" name="LoggedOnTime" type="xs:int" />
      <xs:element minOccurs="0" name="NotAnswered" type="xs:int" />
      <xs:element minOccurs="0" name="ReadyTime" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpeechTime" type="xs:int" />
      <xs:element minOccurs="0" name="Transferrd" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceGroupDataType" nillable="true" type="tns:ServiceGroupDataType" />
</xs:schema>